<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<div style="width: 50%;">
    <div class="w3-card-4">

        <div class="w3-container w3-green">
            <h2>Reordering {{item['name']}}({{item['description']}}) to {{bin_data['location_code']}}-{{bin_data['position']}}</h2>
        </div>
        <p><h3>Ordering from {{item['supplier']}}</h3></p>
        <form action="/reorder_submit" class="w3-container" style="margin-bottom: 5%">
            <p>Order Qty for this bin(Max. {{max}}): <input name="count" type="number" min="1" max="{{max}}" value="1"></p>
            <p>Price per unit: <input name="price" type="text"></p>
            <input type="hidden" name="iid" value="{{item['_id']}}">
            <input type="hidden" name="bin" value="{{bin_data['_id']}}">
            <input type="hidden" name="supplier" value="{{item['supplier']}}">
            <input type="submit" value="Order">
        </form>
    </div>
</div>

{% include 'footer.html' %}
</html>